<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Delete Brand</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Delete Brand</h1>
<p>Are you sure you want to delete the following brand?</p>

<ul>
  <li><strong>Name:</strong> <span th:text="${brand.name}"></span></li>
  <li><strong>Country:</strong> <span th:text="${brand.country}"></span></li>
</ul>

<form th:action="@{'/brands/delete/' + ${brand.id}}" method="post">
  <button type="submit">Yes, delete</button>
  <a th:href="@{/brands/list}">Cancel</a>
</form>
<a th:href="@{/}">Back to the home page</a>
</body>
</html>
