<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Energy Drink</title>
</head>
<body>
<h1>Add New Energy Drink</h1>

<form th:action="@{/drinks}" th:object="${energyDrink}" method="post">
    <label>Name: <input type="text" th:field="*{name}"/></label><br/>
    <label>Volume (ml): <input type="number" th:field="*{volume}"/></label><br/>
    <label>Caffeine (mg): <input type="number" th:field="*{caffeineContent}"/></label><br/>
    <label>Sugar (g): <input type="number" th:field="*{sugarContent}"/></label><br/>
    <label>Flavor: <input type="text" th:field="*{flavor}"/></label><br/>
    <label>Carbonated:
        <input type="checkbox" th:field="*{carbonated}"/>
    </label><br/>
    <label>Brand:
        <select th:field="*{brand}">
            <option value="" disabled selected>-- Select a brand --</option>
            <option th:each="brand : ${brands}"
                    th:value="${brand.id}"
                    th:text="${brand.name}">
            </option>
        </select>
    </label><br/>
    <button type="submit">Save</button>
</form>

<a th:href="@{/drinks/list}">Back to list</a>
</body>
</html>
