<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Energy Drink</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Edit Energy Drink</h1>

<form th:action="@{/drinks/edit}" th:object="${energyDrink}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Name: <input type="text" th:field="*{name}"/></label><br/>
    <label>Volume (ml): <input type="number" th:field="*{volume}"/></label><br/>
    <label>Caffeine (mg): <input type="number" th:field="*{caffeineContent}"/></label><br/>
    <label>Sugar (g): <input type="number" th:field="*{sugarContent}"/></label><br/>
    <label>Flavor: <input type="text" th:field="*{flavor}"/></label><br/>
    <label>Carbonated: <input type="checkbox" th:field="*{carbonated}"/></label><br/>
    <label>Brand:
        <select th:field="*{brand.id}">
            <option th:each="brand : ${brands}"
                    th:value="${brand.id}"
                    th:text="${brand.name}">
            </option>
        </select>
    </label><br/>
    <button type="submit">Save</button>
</form>


<a href="/drinks/list">Back to list</a>

<a th:href="@{/}">Back to the home page</a>
</body>
</html>
